<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SplitDuit"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".SplitByItemReview"
            android:exported="false" />
        <activity
            android:name=".SplitItem"
            android:exported="false" />
        <activity
            android:name=".ManualAmount"
            android:exported="false" />
        <activity
            android:name=".LoginPage"
            android:exported="true">

        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>

        <activity
            android:name=".SelectFriends"
            android:exported="false" />
        <activity
            android:name=".SplitMethod"
            android:exported="false" />
        <activity
            android:name=".ScanReceipt"
            android:exported="false" />
        <activity
            android:name=".DebtTracker"
            android:exported="false" />
        <activity
            android:name=".SendRequest"
            android:exported="false" />
        <activity
            android:name=".ReviewSplit"
            android:exported="false" />
        <activity
            android:name=".AddFriends"
            android:exported="false" />
        <activity
            android:name=".ReminderActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false">
        </activity>
    </application>

</manifest>